%ul.social
  %li
    = link_to 'https://dribbble.com/yssapalasi' do
      %span.fa.fa-dribbble
  %li
    = link_to 'https://www.facebook.com/yssapalasi' do
      %span.fa.fa-facebook
  %li
    = link_to 'https://twitter.com/yssapalasi' do
      %span.fa.fa-twitter
  %li
    = link_to 'https://ph.linkedin.com/in/yssavillanda' do
      %span.fa.fa-linkedin

.copyright
  %p &copy; 2015 Elyssa Joi Villanda Palasi
