%h1{ style: "display: none;" } UI Designer and Front-end Developer

.monogram.animated.fadeInUp
  = tag :img, src: "images/yssa-monogram.svg", alt: "Elyssa Joi Villanda Palasi"

.scroll-to-featured
  = link_to '#featured-projects', class: 'anchor' do
    %span.fa.fa-angle-down
