- content_for :head do
  %title About | Yssa | UI Designer & Front-end Developer
  %meta{:name => "description", :content => "Yssa is a UI Designer & Front-end Developer based in the Philippines"}/
  %meta{:name => "keywords", :content => "UI design, html, css, wordpress, scss, haml"}/

#about.animatedParent{ data: { sequence: "500" }}
  .self-description
    %h2.animated.fadeInLeft{ data: { id: "1" }} ELYSSA JOI VILLANDA PALASI
    %p.animated.fadeInLeft{ data: { id: "2" }} UI Designer.
    %p.animated.fadeInLeft{ data: { id: "3" }} Front-end Developer.
    %p.animated.fadeInLeft{ data: { id: "4" }} Loves anything minimal yet awesome.
