- content_for :head do
  %title Yssa | UI Designer & Front-end Developer
  %meta{:name => "description", :content => "UI Designer & Front-end Developer"}/
  %meta{:name => "keywords", :content => "UI design, html, css, wordpress, scss, haml"}/

#hero.animatedParent
  = partial "layouts/header"

#featured-projects
  = partial "layouts/featured"
