- content_for :head do
  %title Playground | Experiments, Blog, and everything nice
  %meta{:name => "description", :content => "Experiments, Blog, and everything nice"}/
  %meta{:name => "keywords", :content => "UI design, html, css, wordpress, scss, haml"}/

#soon
  .content
    %h2 Soon!

    = link_to "Go back to home page", '/', class: 'btn btn-solid'
