- content_for :head do
  %title Thank You
  %meta{:name => "description", :content => "Start a project with me."}/
  %meta{:name => "keywords", :content => "UI design, html, css, wordpress, scss, haml"}/

#thank-you
  .content
    %h2 Thank You

    %p I will be in touch in a while.

    = link_to "Go back to home page", '/', class: 'btn btn-outline'
