.actions {
  text-align: center;

  @media screen and (max-width: $breakpoint-mobile) {
    padding: 0 1.5em;

    .btn:first-child {
      margin-bottom: 0.5em;
    }
  }
}

.btn {
  text-transform: uppercase;
  padding: 0.75em 3em;
  border: thin solid $tertiary-color;
  display: inline-block;

  &.btn-outline {
    color: $tertiary-color;

    &:hover {
      background: $tertiary-color;
      color: white;
    }
  }

  &.btn-solid {
    background: $tertiary-color;
    color: white;

    &:hover {
      background: transparent;
      color: $tertiary-color;
    }
  }
}
